/* *{
    font-family: Arial, Helvetica, sans-serif;
} */
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

form{
    display: flex;
    flex-direction: column;
    line-height: 0.2em;
}
.flex-left-align{
    margin: 0;
    width: 40%;
    height: 100%;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
}
.add-book{
    border: 0;
    background-color: rgb(18, 169, 18);
    color: white;
    padding: 0.5em;
}

/* p {
    line-height: 0;
}

h1 {
    line-height: 0.2em;
}

h2{
    line-height: 0;
    font-size: 1.3em;
} */

table {
  width: 100%;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

th {
  border-bottom: 0.15em solid black;
  font-weight: bold;
  background-color: #d3d3d3;
  text-align: center; 
}

tr {
  text-align: center;
  padding-left: 2em;
}

/* td {
  border-bottom: 0.05em solid #ccc;
  padding-left: 10px; 
  padding-right: 1.5em;
  padding-top: 1.5em; 
  padding-bottom: 1em;
  position: relative; 
} */

button.delete-button {
  /* position: absolute; 
  top: 5px; 
  padding: 0.5em; */
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  /* margin-left: 2em; */
  position: relative;
  left: 2em;
}

button.delete-button:hover {
  background-color: #d32f2f;
}

tbody tr:nth-child(1) td {
  padding-top: 1em; 
}

tbody tr:nth-child(1) td.delete-column {
  padding-top: 1em;
}
